.containner-asbc {
  display: flex;
}
.container-buy {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 50px;
  max-width: 290px;
  margin: 30px 20px;
}
.containner-buy h3,
p {
  margin: 10px 0px;
  font-size: 15px;
  font-size: 15px;
}
.inner-div {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 10px 0 10px 0;
  max-height: 320px;
  margin-right: 0;
  width: 400px;
}
.h3-buy {
  overflow: hidden;
  width: 264px;
  display: block;
  font-size: 13px;
  height: 13px;
}
.color-red {
  margin-left: 10px;
  color: #ca2027;
  font-weight: bold;
}
